.footer_wrapper{
	min-width: 1120px;
	background-color: #323232;
}

.footer{
	height: 350px;
	padding: 50px 0;
}

.footer_logo{
	 
}	

.footer_block{
	
}

.footer_block a{
	font-style: italic;
}

.footer_block a:hover{
	color: #0066a6;
}

.footer_img_block{
	
}